// @use "_crew-editor.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$easing: cubic-bezier(0.4, 0, 0.2, 1);

.material-icons {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scroll-behavior: smooth;

	font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 6px;
	border-radius: 3px;
	margin: 0 auto;
	background: #666666aa;
}

$header-left-padding: 16px;

body {
	overflow: hidden;

	background-color: lighten(#002a37, 2);

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	background-color: #002531;

	header {
		background-color: #002a37;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;

		box-shadow: #001f29 0px 3px 5px;

		color: white;

		z-index: 1000000;

		height: 56px;

		align-items: center;

		.left {
			padding-left: $header-left-padding;
			font-size: 18px;
		}

		.right {
			span {
				transition: left 300ms $easing;

				height: 3px;
				width: calc(50% / 3);

				position: absolute;

				background-color: white;

				z-index: 1000;

				top: 53px;
				left: 50vw;

				&.member-editor {
					left: 50vw;
				}

				&.crew-editor {
					left: calc(50vw + calc(calc(50% / 3) * 1));
				}

				&.crew-display {
					left: calc(50vw + calc(calc(50% / 3) * 2));
				}
			}
			ul {
				height: 56px;
				display: flex;
				flex-direction: row;

				justify-content: space-evenly;
				align-items: center;

				list-style: none;

				li {
					height: 56px;
					width: 100%;

					display: flex;
					flex-direction: column;
					justify-content: center;

					text-align: center;
					align-items: center;

					transition: color 100ms $easing, background-color 200ms $easing;

					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						height: 100%;
						text-decoration-line: none;
						color: white;
					}

					color: white;

					&:hover {
						background-color: #001f29;
						a {
							color: white;
						}
					}
				}
			}
		}
	}

	main {
		width: 100%;
		height: 100%;

		padding-top: 56px;

		display: grid;
		grid-template-columns: repeat(3, 100vw);

		grid-template-rows: calc(100vh - var(--header-height));

		transition: left 300ms $easing;

		position: fixed;
		top: 0;
		left: 0;

		&.member-editor {
			left: 0vw;
		}
		&.crew-editor {
			left: -100vw;
		}
		&.crew-display {
			left: -200vw;
		}

		section {
			width: 100vw !important;
			height: calc(100vh - var(--header-height));

			overflow: hidden;
			// overflow-y: auto;

			color: white;

			// TMP
			// display: flex;
			// justify-content: center;
			// align-items: center;
		}

		// Sketchy? Yes
		// Broken? No

		//              ***                  ***
		//             *****                *****
		//             *****                *****
		//              ***                  ***
		//   ***                                        ***
		//    ***                                      ***
		//     ***                                    ***
		//      ***                                  ***
		//        ***                              ***
		//          ***                          ***
		//            ***                      ***
		//               **********************
		//                  ****************
		//
		//
		//

		// the use of "_" in the first name indicates to the scss compiler
		// that it isnt to be compiled directly but could be used in other fils
		// because of this it'll only give it any purpose if, and only if,
		// it is referenced in visible files (like this one)

		#crew-editor {
			// this imports the "_crew-editor.scss" file and uses it,
			// the underscore and file extention do not matter unless
			// there are 2 files with the same name and different extensions

			@import "./crew-editor";
		}

		#crew-display {
			@import "./crew-display";
		}

		#member-editor {
			@import "./member-editor";
		}
	}
}

.hidden {
	display: none;
}

/**
*	Used to fade pages
*
*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
